/* 
Breakpoint	Class infix	Dimensions

X-Small	None	<576px

Small	sm	≥576px

Medium	md	≥768px

Large	lg	≥992px

Extra large	xl	≥1200px

Extra extra large	xxl	≥1400px */

@media (min-width:1200px){
  .container{
    width:1100px;
  }
  .about-content {
    align-items: flex-start;
  }
  .about-content .about-img {
    width: 45%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  .container{
    width:940px;
  }
  .about-content {
    align-items: flex-start;
  }
  .about-content .about-img {
    width: 45%;
  }
}
@media only screen and (min-width: 850px) and (max-width: 992px){
  .container{
    width:816px;
  }
  .about-content {
    align-items: flex-start;
  }
  .about-content .about-img {
    width: 45%;
  }
  .project-container{
    column-gap:60px;
  }
  .header-content p {
    font-size: 14px;
  }
  .footer-area{
    width:100%;
    height:210px;
    background-color:rgb(15, 15, 88);
  }
  
  .footer-area .contentArea{
    width:100%;
    height: 180px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .contentArea .subscribe{
    width:48%;
    text-align:center;
  }
  .contentArea .socialLinks{
    width:40%;
    padding:0;
  }
  .subscribe h4{
    font-size:23px;
    color:tomato;
    margin-bottom:10px;
    text-shadow: 3px 2px 5px rgb(198, 87, 57);;
  }
  .subscribe input {
  border: none;
  outline: none;
  padding: 6px;
  width: 220px;
  color: #000;
  font-weight: 600;
  transition: all 0.1s ease-out;
  border-radius: 10px 0 0 10px;
  }
  .subscribe input[type="email"]:focus{
    background:tomato;
    
  }
  
  .subscribe input[type="button"] {
  width: 85px;
  margin-left: -30px;
  color: black;
  font-weight: 600;
  background: lightseagreen;
    text-transform: uppercase;
    cursor:pointer;
    border-radius: 0 10px 10px 0;
  }
  .subscribe input[type="button"]:hover{
    background:rgb(19, 118, 113);
  
  }
  .contentArea .socialLinks {
    width: 46%;
    padding: 0;
  }
  .socialLinks h3{
    text-align: center;
    color:tomato;
    padding:10px;
    margin-bottom:10px;
    text-transform: capitalize;
  
  }
  .socialLinks a {
  display: inline-block;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  padding-left: 3px;
    border-radius:50%;
    transition:all 0.2s ease-out;
  }
  .socialLinks a:hover{
    transform:scale(1.2);
  
  
  }
  .copyright p{
    text-align: center;
    color:#fff;
    
  }
  
}
@media only screen and (min-width: 768px) and (max-width: 850px){

  .container{
    width:760px;

  }
  nav ul{
    position:absolute;
    width:100%;
    height:100vh;
    top:56px;
    left:0;
    background:#fff;
    color:green;
    z-index: 1;
    transition:all 0.3s ease-out;
    display:none;
  
  }
  nav ul li{
    display:block;
    margin:15px 0;
    text-align:center;
    background:rgb(25, 102, 133);
    padding:5px 0;


}
nav ul li a{
  border:none;
  padding:0;
  background:transparent;
  display:inline-block;
  color:rgb(223, 224, 225);
  font-weight: 600;

}
nav ul li a:hover{
  color:tomato;
}
a.active, a:hover{
  color:tomato;
}
.bars{
  display:block;
}
#check:checked ~ ul{
  display:block;
  
}

#check:checked ~ .bars .line:nth-child(1){
  transform:translateY(8px) rotate(224deg);
}
#check:checked ~ .bars .line:nth-child(2){
  opacity: 0;
}
#check:checked ~ .bars .line:nth-child(3){
  transform:translateY(-4px) rotate(-224deg);
}


.project-container .single-project{
  width:320px;
  height:200px;
}
.header-area{
  height:79vh;
}
.main-header{
  height:70vh;
}
.header-content p {
  font-size: 14px;
}
.about-section{
  height:425px; 
}
.about-content {
	align-items: flex-start;
}

.about-content .about-img {
	width: 50%;
	height: 320px;
}
.about-content .about-text {
	margin-top: 20px;
  height:308px;
}
.about-text p {
	letter-spacing: 0.0rem;
	padding: 0 15px 0 0;
}
.services-box .service-box {
	width: 224px;
}
.footer-area{
  width:100%;
  height:210px;
  background-color:rgb(15, 15, 88);
}

.footer-area .contentArea{
  width:100%;
  height: 180px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.contentArea .subscribe{
  width:48%;
  text-align:center;
}
.contentArea .socialLinks{
  width:40%;
  padding:0;
}
.subscribe h4{
  font-size:23px;
  color:tomato;
  margin-bottom:10px;
  text-shadow: 3px 2px 5px rgb(198, 87, 57);;
}
.subscribe input {
border: none;
outline: none;
padding: 6px;
width: 220px;
color: #000;
font-weight: 600;
transition: all 0.1s ease-out;
border-radius: 10px 0 0 10px;
}
.subscribe input[type="email"]:focus{
  background:tomato;
  
}

.subscribe input[type="button"] {
width: 85px;
margin-left: -30px;
color: black;
font-weight: 600;
background: lightseagreen;
  text-transform: uppercase;
  cursor:pointer;
  border-radius: 0 10px 10px 0;
}
.subscribe input[type="button"]:hover{
  background:rgb(19, 118, 113);

}
.contentArea .socialLinks {
	width: 46%;
	padding: 0;
}
.socialLinks h3{
  text-align: center;
  color:tomato;
  padding:10px;
  margin-bottom:10px;
  text-transform: capitalize;

}
.socialLinks a {
display: inline-block;
margin-left: 15px;
width: 40px;
height: 40px;
padding-left: 3px;
  border-radius:50%;
  transition:all 0.2s ease-out;
}
.socialLinks a:hover{
  transform:scale(1.2);


}
.copyright p{
  text-align: center;
  color:#fff;
  
}

}

@media only screen and (min-width: 650px) and (max-width: 768px){
  .container{
    width:645px;
  }
  nav ul{
    position:absolute;
    width:100%;
    height:100vh;
    top:56px;
    left:0;
    background:#fff;
    color:green;
    z-index: 1;
    transition:all 0.3s ease-out;
    display:none;
  
  }
  nav ul li{
    display:block;
    margin:15px 0;
    text-align:center;
    background:rgb(25, 102, 133);
    padding:5px 0;


}
nav ul li a{
  border:none;
  padding:0;
  background:transparent;
  display:inline-block;
  color:rgb(223, 224, 225);
  font-weight: 600;

}
nav ul li a:hover{
  color:tomato;
}
a.active, a:hover{
  color:tomato;
}
.bars{
  display:block;
}
#check:checked ~ ul{
  display:block;
  
}

#check:checked ~ .bars .line:nth-child(1){
  transform:translateY(8px) rotate(224deg);
}
#check:checked ~ .bars .line:nth-child(2){
  opacity: 0;
}
#check:checked ~ .bars .line:nth-child(3){
  transform:translateY(-4px) rotate(-224deg);
}
.header-area{
  height:79vh;
}
.main-header{
  height:70vh;
}
.header-content p {
	margin-top: 29px;
	line-height: 20px;
	font-size: 15px;
}
.header-content .hero-btn {
	padding: 6px 16px;
	font-size: 14px;
}
.about-section {
	height: 412px;
}
.about-content .about-img {
	width: 42%;
	height: 273px;
  margin-top:44px;
}
.about-content .about-img {
	width: 52%;
	margin-top: 44px;
}
.about-text {
	width: 54%;
	margin-top: 20px;
}
.about-text p {
	letter-spacing: 0.5px;
	width: 94%;
}
.about-content {
  align-items:flex-start;
}
.service-section{
  height: 780px;
}
.services-box{
  grid-template-columns: repeat(2, 0fr);
  align-items: center;
  gap: 40px;
}
.services-box .service-box {
	width: 260px;
	height: 159px;
}
.project-container {
	gap: 30px;
}
.project-container .single-project {
	width: 291px;
	height: 196px;
	border:none;
}
.contact-form .contact-area {
  align-items: flex-start;
}
.contact-form .contact-area {
	width: 94%;
	height: 425px;
}
.contact-area .image {
	height: 80%;
}
.contact-area .image h2 {
	padding: 20px;
	font-size: 21px;
}
.contact-area .image p {
  width:100%;
  margin-bottom:20px;
	font-size: 15px;
}
.footer-area{
  width:100%;
  height:210px;
  background-color:rgb(15, 15, 88);
}

.footer-area .contentArea{
  width:100%;
  height: 180px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.contentArea .subscribe{
  width:48%;
  text-align:center;
}
.contentArea .socialLinks{
  width:40%;
  padding:0;
}
.subscribe h4{
  font-size:23px;
  color:tomato;
  margin-bottom:10px;
  text-shadow: 3px 2px 5px rgb(198, 87, 57);;
}
.subscribe input {
border: none;
outline: none;
padding: 6px;
width: 220px;
color: #000;
font-weight: 600;
transition: all 0.1s ease-out;
border-radius: 10px 0 0 10px;
}
.subscribe input[type="email"]:focus{
  background:tomato;
  
}

.subscribe input[type="button"] {
width: 85px;
margin-left: -30px;
color: black;
font-weight: 600;
background: lightseagreen;
  text-transform: uppercase;
  cursor:pointer;
  border-radius: 0 10px 10px 0;
}
.subscribe input[type="button"]:hover{
  background:rgb(19, 118, 113);

}
.contentArea .socialLinks {
	width: 46%;
	padding: 0;
}
.socialLinks h3{
  text-align: center;
  color:tomato;
  padding:10px;
  margin-bottom:10px;
  text-transform: capitalize;

}
.socialLinks a {
display: inline-block;
margin-left: 15px;
width: 40px;
height: 40px;
padding-left: 3px;
  border-radius:50%;
  transition:all 0.2s ease-out;
}
.socialLinks a:hover{
  transform:scale(1.2);


}
.copyright p{
  text-align: center;
  color:#fff;
  
}

}
@media only screen and (min-width: 500px) and (max-width: 650px){
  .container{
    width:503px;
  }

  nav ul{
    position:absolute;
    width:100%;
    height:100vh;
    top:56px;
    left:0;
    background:#fff;
    color:green;
    z-index: 1;
    transition:all 0.3s ease-out;
    display:none;
  
  }
  nav ul li{
    display:block;
    margin:15px 0;
    text-align:center;
    background:rgb(25, 102, 133);
    padding:5px 0;


}

nav ul li a{
  border:none;
  padding:0;
  background:transparent;
  display:inline-block;
  color:rgb(223, 224, 225);
  font-weight: 600;

}
nav ul li a:hover{
  color:tomato;
}
a.active, a:hover{
  color:tomato;
}
.bars{
  display:block;
}
#check:checked ~ ul{
  display:block;
  
}

#check:checked ~ .bars .line:nth-child(1){
  transform:translateY(8px) rotate(224deg);
}
#check:checked ~ .bars .line:nth-child(2){
  opacity: 0;
}
#check:checked ~ .bars .line:nth-child(3){
  transform:translateY(-4px) rotate(-224deg);
}
.header-area{
  height:74vh;
}
.main-header{
  height:65vh;
}
.header-content h1 {
	font-size: 25px;
}
.header-content p {
	margin-top: 24px;
	font-size: 14px;
}
.header-content .hero-btn {
  margin-top: 85px;
	padding: 6px 11px;
	font-size: 14px;
}
.about-section {
	height: 410px;
}
.about-content {
	align-items: flex-start;
}
.about-content .about-img {
	width: 46%;
	height: 230px;
	margin-top: 56px;
}
.about-text h3 {
	font-size: 23px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.about-text p {
	line-height: 1.21rem;
	width: 96%;
	font-size: 14px;
}
.about-text .hero-btn, .hire-btn {
	padding: 6px 11px;
	font-size: 13px;
}
.service-section {
	height: 670px;
}
.services-content h3 {
	padding-top: 30px;
	font-size: 23px;
}
.services-content p {
	font-size: 14px;
}
.services-box{
  grid-template-columns: repeat(2, 0fr);
  align-items: center;
  gap: 40px;
}
.services-box .service-box {
	width: 218px;
	height: 136px;
}
.service-box p {
	font-size: 12px;
}
.work-content h3 {
	font-size: 23px;
}
.work-content p {
	font-size: 15px;
}
.work-content ul li a {
	font-size: 12px;
}
.project-container {
	column-gap: 32px;
}
.project-container .single-project {
	box-shadow: 0 0 5px 1px rgb(12, 154, 255);
  border:none;
}
.project-container .single-project {
	width: 229px;
	height: 164px;
}
.work-content a {
	font-size: 12px;
}
.hire-area {
	height: 270px;
}
.hire-area .content-area h2 {
	font-size: 20px;
}
.hire-area .content-area p {
	margin-top: 15px;
	font-size: 15px;
}
.contact-form {
	height: 426px;
}
.contact-form .contact-area {
  align-items: flex-start;
}
.contact-area .image h2 {
	padding: 11px;
	font-size: 23px;
}
.contact-area .image {
	width: 50%;
	height: 76%;
}
.contact-area .image p {
	width: 98%;
	margin: 0 auto 10px;
	font-size: 13px;
}
.contact-area .form-area form {
	width: 90%;
	height: 72%;
}
.form-area form input, textarea {
	width: 100%;

}
.footer-area{
  height:270px;
}
.footer-area .contentArea{
  display:block;
  text-align:center;
  height:100%;
}

.contentArea .subscribe{
  width:100%;
  margin-bottom:33px;
}
.subscribe h4 {
	padding: 10px;
	font-size: 25px;
}
.subscribe input {
	width: 253px;
	height: 41px;
	font-size: 14px;
}
.contentArea .socialLinks{
  width:100%;
}
.socialLinks h3 {
	padding: 0;
	font-size: 23px;
}
.copyright p {
	margin-top: 20px;
	font-size: 17px;
	font-weight: 600;
}

}
@media only screen and (min-width: 380px) and (max-width: 500px){
  .container{
    width:370px;
  }
  nav .logo {
    width: 50%;
  }
  nav ul{
    position:absolute;
    width:100%;
    height:100vh;
    top:56px;
    left:0;
    background:#fff;
    color:green;
    z-index: 1;
    transition:all 0.3s ease-out;
    display:none;
  
  }
  nav ul li{
    display:block;
    margin:15px 0;
    text-align:center;
    background:rgb(25, 102, 133);
    padding:5px 0;


}
nav ul li a{
  border:none;
  padding:0;
  background:transparent;
  display:inline-block;
  color:rgb(223, 224, 225);
  font-weight: 600;
  font-size:20px;

}
nav ul li a:hover{
  color:tomato;
}
a.active, a:hover{
  color:tomato;
}
.bars{
  display:block;
}
#check:checked ~ ul{
  display:block;
  
}

#check:checked ~ .bars .line:nth-child(1){
  transform:translateY(8px) rotate(224deg);
}
#check:checked ~ .bars .line:nth-child(2){
  opacity: 0;
}
#check:checked ~ .bars .line:nth-child(3){
  transform:translateY(-4px) rotate(-224deg);
}
.main-header .header-content {
	width: 96%;
}
.header-area{
  height:109vh;
}
.main-header{
  height:100vh;
}
.header-content h2{
  font-size:38px;
} 
.header-content h1{
	font-size: 30px;
}
.header-content p {
	font-size: 17px;
  margin-top:35px;
}
.header-content .hero-btn {
	padding: 12px 18px;
	font-size: 16px;
}
.about-section {
	height: 740px;
}
.about-content {
	width: 100%;
  display:block;
  height:100%;
}
.about-content .about-img {
	width: 100%;
	height: 370px;
}
.about-text {
	width: 98%;
  text-align: center;
}
.about-text h3 {
	font-size: 23px;
	padding: 5px;
}
.about-text p {
	line-height: 1.2rem;
	letter-spacing: 0.03rem;
	font-size: 16px;
}
.about-text .hero-btn, .hire-btn {
	padding: 8px 12px;
	font-size: 15px;
}
.service-section {
	height: 1640px;
}
.services-content h3 {
	padding-top: 15px;
	font-size: 23px;
}
.services-content p {
	font-size: 16px;
}
.services-box {
	display: block;
	width: 100%;
}
.services-box .service-box{
  margin:0 auto 40px;
}
.services-box .service-box {
	width: 341px;
	height: 205px;
}
.service-box .icon {
	font-size: 37px;
}
.service-box h4 {
	font-size: 22px;
}
.work-content h3 {
	font-size: 23px;
	margin: 14px;
}
.work-content p {
	width: 100%;
	font-size: 16px;
}
.work-content ul li {
	margin:0;
}
.work-content ul li a {
	font-size: 15px;
}
.project-container {
	display: block;
}
.project-container .single-project {
	width: 343px;
	height: 219px;
  border:none;
}
.project-container .single-project:nth-child(2){
  margin-left:auto;
}
.project-container .single-project:nth-child(3){
  margin-right:auto;
}
.project-container .single-project {
	margin: 0 auto 25px;
	box-shadow: 0 0 8px 1px rgb(12, 154, 255);
}
.work-content .show-more {
	margin: 58px 0 45px 0;
}
.work-content a:hover {
  color:#fff;
}
.work-content a {
	font-size: 17px;
	padding: 12px 20px;
}
.hire-area .content-area a {
	padding: 10px 20px;
	font-size: 17px;
}
.contact-form {
	height: 860px;
}
.contact-form .contact-area {
	display: block;
}
.contact-area .image {
	width: 100%;
}
.contact-area .image p {
	width: 100%;
}
.contact-area .image img {
	height: 66%;
}
.contact-area .form-area {
	width: 100%;
}
.contact-area .form-area form {
	top: 37%;
}
.form-area form input, textarea {
  font-size:18px;
	width: 300px;
	height: 42px;
}
.form-area form input[type="button"] {
	font-size: 20px;
}
.footer-area{
  height:270px;
}
.footer-area .contentArea{
  display:block;
  text-align:center;
  height:100%;
}

.contentArea .subscribe{
  width:100%;
  margin-bottom:33px;
}
.subscribe h4 {
	padding: 10px;
	font-size: 25px;
}
.subscribe input {
	width: 253px;
	height: 41px;
	font-size: 14px;
}
.contentArea .socialLinks{
  width:100%;
}
.socialLinks h3 {
	padding: 0;
	font-size: 23px;
}
.copyright p {
	margin-top: 20px;
	font-size: 17px;
	font-weight: 600;
}
}